<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{{ site.logo }}" alt="Logo" height="40" class="brand-logo me-2" loading="lazy">
      <span class="brand-text">Bread & Letters</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="recipesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sourdough
          </a>
          <ul class="dropdown-menu" aria-labelledby="recipesDropdown">
            <li><a class="dropdown-item" href="{{ '/sourdough' | relative_url }}#cuisine">Cuisine</a></li>
			<li><a class="dropdown-item" href="{{ '/sourdough#ethno-cultural' | relative_url }}">Ethno-cultural</a></li>
            <li><a class="dropdown-item" href="{{ '/sourdough#linguistic' | relative_url }}">Linguistic</a></li>
            <li><a class="dropdown-item" href="{{ '/sourdough#technological' | relative_url }}">Technological</a></li>
			<li><a class="dropdown-item" href="{{ '/sourdough#agricultural' | relative_url }}">Farm and Gardens</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ '/recipes' | relative_url }}">All Recipes</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/artisan' %}active{% endif %}" href="{{ site.baseurl }}/artisan">Artisan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/about' %}active{% endif %}" href="{{ site.baseurl }}/about">About</a>
        </li>
      </ul>
      <form class="d-flex ms-lg-3 mt-3 mt-lg-0" action="/search" role="search">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search recipes..." aria-label="Search">
          <button class="btn btn-outline-light" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <div class="ms-lg-3 mt-3 mt-lg-0">
        <a href="/saved" class="btn btn-outline-light position-relative">
          <i class="far fa-bookmark"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-accent">
            0
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>